<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.zn.taskalifteach">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".app.application.Application"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskAlifTeach"
        tools:ignore="allowBackup">

        <activity android:name=".MainActivity" />

        <activity
            android:name=".app.global.GlobalActivity"
            android:theme="@style/Theme.TaskAlifTeach.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>